$primary-color: #663399;

.fancy-text {
  color: $primary-color;
}

.fancy-box {
  background-color: $primary-color;
}

// CSS Equivilent
.fancy-text {
  color: #663399;
}

.fancy-box {
  background-color: #663399;
}